.list {
    padding: 0;
    margin-top: 20px;    
}
.product {
    padding: 20px;
    margin-bottom: 40px;
    background: #ffffff;
    list-style: none;
    box-shadow: 0 0 15px 0 rgb(197 197 197 / 50%);
}