.container {
    margin-top: 30px;
    padding: 30px 40px 20px 40px;
    background-color: #ffffff;
}
.container:first-child {
    margin-top: 0;
}
.name {
    margin-top: 0;
    font-size: 25px;
}
.description {
    margin-bottom: 0;
}
.list {
    display: flex;
    list-style: none;
    padding: 0;
}
.item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.svg {
    margin-right: 15px;
}
.bottom {
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #f5f7fa;
}
.price {
    margin-left: 15px;
    font-size: 28px;
    color: #FF6441;
}
.pricecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 75px;
}
.icons {
    list-style: none;
    padding: 0;
    display: flex;
}
.iconItem {
    margin-right: 15px;
}
.iconItem:last-child {
    margin-right: 0;
}
.middle {
    display: flex;
    align-items: flex-start;
}
