.footer {
    color: #ffffff;
    font-family: var(--maersk);
    font-size: 1.4rem;

}

.primary {
    padding: 40px 0 46px;
    position: relative;
    width: 100%;
    background-color: var(--mid-grey);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url('/images/lines-footer.svg');
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}

.primary-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #ffffff;
}

.primary-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.primary-social {
    display: flex;
}

.primary-social li {
    margin: 0 15px;
}

.primary-social li:last-child {
    margin-right: 0;
}

.primary-corporate {
    text-align: right;
}

.primary-corporate h4 {
    margin-bottom: 20px;
    font-weight: 300;
}

.primary-corporate li {
    margin-top: 15px;
    font-size: 1.3rem;
}

.primary-account {
    flex: 55% 0;
    font-size: 1.3rem;
    line-height: 2.4rem;
    letter-spacing: 0.05rem;
}

.primary-account h4 {
    margin-bottom: 17px;
}

.primary-account p {
    margin-bottom: 18px;
}

.primary-account button {
    font-family: var(--maersk);
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    margin: 0
}

.secondary {
    padding: 25px 0;
    background: var(--primary-three);
}

.secondary-wrapper {
    font-size: 1.2rem;   
    letter-spacing: 0.02rem;
    display: flex;
    align-items: flex-end;
}

.secondary-wrapper p {
    font-size: 1rem;
    margin: 0 30px 0 0;
    letter-spacing: 0.05rem;
}

.secondary-links {
    display: flex;
}

.secondary-links li {
    margin: 0 7px;
    cursor: pointer;
}